/* GLOBAL STYLING */
/* Global Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* font-family: 'Plus Jakarta Sans', sans-serif; */
/* font-family: 'Inter', sans-serif; */

/* Wrapper */
.wrapper {
    background-color: #E5E5E5;
}

/* Global Section Head Styling */
.section-head .top-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-head .main-heading {
    position: relative;
    padding-left: 20px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

.section-head .main-heading::before {
    content: url(' ');
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: #8B42F2;
    width: 14px;
    height: 18px;
    position: absolute;
    top: 8px;
    left: 0;
}

.section-head .top-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #8B42F2;
}

.section-head .bottom-div {
    padding: 16px 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-head .cards {
    width: 70%;
}

.section-head .s-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.section-head .img-div {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-head .name {
    font-size: 14px;
    font-weight: 500;
    color: #191A1E;
}

.section-head .s-image {
    height: 40px;
}

/* Header */
.header {
    padding: 24px 0;
}

.header-content {
    background-color: white;
    box-shadow: 0px 20px 24px -4px rgba(85, 105, 135, 0.04), 0px 8px 8px -4px rgba(85, 105, 135, 0.02);
    border-radius: 8px;
    padding: 30px 24px 0;
    display: flex;
    justify-content: space-between;
}

.header .logo-a {
    display: inline-block;
}
.header .logo-img {
    width: 204px;
}

.header .navbar {
    padding: 0;
}

.header .nav-item {
    padding: 10px 12px 0;
}

.header .nav-link {
    padding: 0 0 28px!important;
    border-bottom: 3px solid transparent;
    color: #4D5F7A;
    font-size: 14px;
    line-height: 17.64px;
    transition: all 0.3s ease-out;
    font-weight: 500;
}


.header .nav-link:hover {
    color: #8b42f2!important;;
    border-color:#8B42F2;
    font-weight: 700;
}


.header .active {
    color: #8B42F2!important;
    border-bottom: 3px solid #8B42F2;
    font-weight: 700;
}

.header button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #4D5F7A;
    font-weight: 500;
    padding: 0;
    line-height: 17px;
}
.header button:hover {
    color: #8b42f2;
}
.header .lang-icon {
    width: 26px;
}

/* Top Cards */
.top-cards-s {
    padding-bottom: 40px;
}

.top-cards {
    position: relative;
}

.top-cards::before {
    background: linear-gradient(270deg, rgba(247,248,249,0) 0%, rgba(247,248,249,1) 100%);
    position: absolute;
    left: 0;
    top: 0;
    content: ' ';
    width: 128px;
    height: 100%;
    z-index: 1;
}

.top-cards::after {
    background: linear-gradient(90deg, rgba(247,248,249,0) 0%, rgba(247,248,249,1) 100%);
    position: absolute;
    right: 0;
    top: 0;
    content: ' ';
    width: 128px;
    height: 100%;
    z-index: 0;
}

.top-card-parent {
    padding-right: 16px;
    box-shadow: 0px 6px 10px -2px rgba(85, 105, 135, 0.04), 0px 2px 4px -2px rgba(85, 105, 135, 0.02);
}


.top-card {
    background-color: white;
    padding: 12px;
    border: 1px solid #EEF0F3;
    border-radius: 8px;
    box-shadow: 0px 6px 10px -2px rgba(85, 105, 135, 0.04), 0px 2px 4px -2px rgba(85, 105, 135, 0.02);
}

.top-card table {
    width: 100%;
}

.top-card .tr {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    margin-bottom: 8px;
    align-items: center;
}
.top-card .tr:last-child {
    margin-bottom: 0;
    padding-top: 12px;
}

.top-card .brand-td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.top-card .brand-td .top-card-img {
    max-width: 32px;
}

.top-card .name {
    font-size: 14px;
    font-weight: 500;
}

.top-card .link-td {
    position: relative;
}

.top-card .link-td .score-link {
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 0 6px;
}

.top-card .link-td:hover .score-link {
    color: #8B42F2;
    font-weight: 700;
}
.top-card .link-td:hover .score-link::before {
    position: absolute;
    content: ' ';
    width: 10px;
    height: 12px;
    background-color: #8B42F2;
    right: -12px;
    bottom: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.top-card .live-parent {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    color: #56B694;
}

.top-card .live-icon {
    position: relative;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(86, 182, 148, 0.1);
}

.top-card .live-icon::before {
    position: absolute;
    content: ' ';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background: #56B694;
    border-radius: 50%;
}

.top-card .live-txt {
    font-weight: 700;
    font-size: 12px;
}

.top-card .agg-txt {
    font-size: 12px;
    color: #4D5F7A;
}

.top-card .range {
    font-size: 12px;
}

.top-card .time {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-right: 77px;
}

/* Top Cards Slick Settings */


.top-cards .slick-next {
    right: 8px;
    z-index: 1;
    color: black;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #EEF0F3;
    padding: 8px;
}

.top-cards .slick-next::before {
    content: url('../images/arrow-right-solid.svg');
    display: inline-block;
    width: 16px;
    height: 16px;
}

.top-cards .slick-prev {
    left: 8px;
    z-index: 1;
    color: black;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #EEF0F3;
    padding: 8px;
}

.top-cards .slick-prev::before {
    content: url('../images/arrow-left-solid.svg');
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* Hiding Overlay Gradient when not needed, Manipulated with JS */
.top-cards.hide-after::after {
    display: none!important;
}

.top-cards.hide-before::before {
    display: none!important;
}

.top-cards .slick-disabled {
    display: none!important;
}

/* Transfers */
.transfer {
    background: url("../images/transfer-bg-ellipse-1.png");
    background-repeat: no-repeat;
    background-position: -326px 49px;
    padding-bottom: 30px;
}

/* Latest Table Styling */
.latest-table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 6px 10px -2px rgba(85, 105, 135, 0.04), 0px 2px 4px -2px rgba(85, 105, 135, 0.02);
}

.table-heading {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
}

.sub-heading {
    font-size: 16px;
}

.latest-table .tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEF0F3;
    padding: 18px 20px 16px;
}

.latest-table .tr:first-child, .tr:last-child {
    border-bottom: none;
}

.latest-table .tr:first-child {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.latest-table .see-all {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #8B42F2;
}

.latest-table .see-all:hover {
    color: #7738ce;
}

.latest-table .round-btns-parent {
    display: flex;
    justify-content: space-between;
    gap: 0;
    border: 1px solid rgba(238, 240, 243, 1);
    border-radius: 999px;
}

.latest-table .btn {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.latest-table .btn:hover {
    color: #8B42F2;
}

.latest-table .active {
    color: #8B42F2;
    border: 1px solid #8B42F2;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Latest Table Left Part */
.latest-table .left-part {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 11px;
    min-width: 192px;
}

.latest-table .lp-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F8F9;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}

.latest-table .lp-img {
    min-height: 100%;
}

.latest-table .info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.latest-table .name {
    font-size: 16px;
    font-weight: 500;
}

.latest-table .position {
    font-size: 14px;
    font-weight: 500;
    color: #4D5F7A;
    display: flex;
    justify-content: start;
    gap: 12px;
}

/* Latest Table Center Part */
.latest-table .center-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.latest-table .flags {
    display: flex;
    justify-content: start;
    gap: 8px;
    min-width: 48px;
}

.latest-table .flag-img-div {
    width: 20px;
    display: inline-block;
}

.latest-table .sm-circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #D5DAE1;
}

/* Latest Table Right Part */
.latest-table .right-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.latest-table .rpl {
    text-align: center;
}

.latest-table .rpl-img-div {
    width: 52px;
    height: 52px;
    border: 1px solid #F7F8F9;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-table .rpl-img {
    height: 40px;
}

.latest-table .rpl-name {
    font-size: 12px;
    color: #404F65;
    font-weight: 500;
}

.latest-table .rpc {
    min-width: 90px;
    text-align: center;
}

.latest-table .rpc-val {
    font-size: 18px;
    font-weight: 700;
    color: #16A34A;
    display: block;
}

.latest-table .rpr {
    text-align: center;
}

.latest-table .rpr-img-div {
    width: 52px;
    height: 52px;
    border: 1px solid #F7F8F9;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-table .rpr-img {
    height: 40px;
}

.latest-table .rpr-name {
    font-size: 12px;
    color: #404F65;
    font-weight: 500;
    display: block;
}

/* Players Cards Styling */
.player-card {
    border-radius: 8px;
    padding: 16px;
    padding-bottom: 0;
}

.player-card-1 {
    background: url('../images/player-card-1-circle-bottom.png') bottom left no-repeat,
                url('../images/player-card-1-circle-mid.png') top right no-repeat,
                url('../images/player-card-1-circle-top.png') top right no-repeat,
                url('../images/player-card-1-right-shade.png') top right no-repeat,
                #8B42F2;
}

.player-card .pc-tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-buttons {
    display: flex;
    gap: 6px;
}

.arrow-button {
    border: none;
    border-radius: 50%;
    color: white;
    background-color:  rgba(255, 255, 255, 0.1);
    width: 24px;
    height: 24px;
    font-size: 11px;
}

.arrow-button:hover {
    background-color: rgba(255, 255, 255, 0.281);
}

.player-card-1 .left-img-div {
    padding-top: 17px;
}

.player-card .right-logo {
    width: 26.13px;
}

.player-card .player-card-name {
    font-weight: 700;
    color: white;
    font-size: 32px;
    line-height: 40.32px;
    margin-bottom: 4px;
}

.player-card .player-info {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    gap: 12px;
    color: white;
    margin-bottom: 16px;
}

.player-card .circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.2;
}

.player-card .country-img {
    width: 20px;
}

.player-card .p-bottom-cards {
    display: flex;
    gap: 16px;
}

.player-card .p-bottom-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 8px;
    color: white;
    min-width: 126px;
}

.player-card .bold-text {
    font-weight: 700;
    font-size: 24px;
    display: block;
}

.player-card .light-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.player-card-2 {
    padding-top: 0;
    padding-left: 0;
    background: url('../images/player-card-2-circle-mid.png') top right no-repeat,
    url('../images/player-card-2-circle-top.png') top right no-repeat,
    linear-gradient(90deg, #8B42F2 0%, #D7503D 100%);
}

.player-card-2 .left-img-div {
    padding-top: 9px;
}

.player-card-2 .right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.player-card-2 .player-card-name {
    margin-bottom: 18px;
}

.player-card-2 .para {
    font-weight: 300;
    font-size: 16px;
    line-height: 20.16px;
    color: white;
    margin-bottom: 18px;
}

.player-card .single-card {
    display: inline-flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 6.5px 20px;
    border-radius: 999px;
    width: fit-content;
}

.player-card-2 .right-card-img-div {
    width: 26.71px;
}

.player-card-2 .bold-text {
    font-size: 18px;
    line-height: 22.68px;
    display: block;
    text-align: center;
}

.player-card-2 .light-text {
    font-size: 12px;
    line-height: 15.12px;
    display: block;
    text-align: center;
}



/* Valuable Players Table Styling */
.valuable-players-table .tr {
    padding: 26px 20px 23px;
}

.valuable-players-table .right-part {
    gap: 16px;
}

.valuable-players-table .rpc-val {
    font-size: 14px;
    color: black;
}

.valuable-players-table .age {
    color:#4D5F7A;
    font-size: 12px;
}

/* XI Table Styling */
.xi-table {
    background: url('../images/xi-bg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 8px;
    color: white;
}

.xi-table .table-heading {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
}

.xi-table .tr {
    display: flex;
    align-items: center;
    padding: 0;
}

.xi-table .tr:first-child, .tr:last-child {
    border-bottom: none;
}

.xi-table .tr:first-child {
    padding: 18px 20px 16px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.xi-table .tr:nth-child(2) {
    margin-bottom: 18px;
}

.xi-table .tr:nth-child(3) {
    padding-left: 68.5px;
    padding-right: 74.5px;
    margin-bottom: 43px;
}

.xi-table .tr:nth-child(4) {
    margin-bottom: 40px;
}

.xi-table .tr:nth-child(5) {
    padding-left: 35.5px;
    padding-right: 33px;
    margin-bottom: 33px;
}

.xi-table .tr:nth-child(6) {
    padding-left: 96.5px;
    padding-right: 121px;
    margin-bottom: 60px;
}

.xi-table .tr:nth-child(7) {
    margin-bottom: 34px;
}

.xi-table .justify-center {
    justify-content: center;
}

.xi-table .justify-sp {
    justify-content: space-between;
}

.xi-card {
    padding: 4px 16px 6px 3.5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 999px;
    display: flex;
    justify-content: start;
    gap: 6px;
}

.xi-card .xi-img-div {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.xi-card .xi-img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
}

.xi-card .sm-img-div {
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: -2px;
    right: -3.5px;
    z-index: 1;
}

.xi-card .xi-txt-div span {
    display: block;
}

.xi-card .name {
    font-size: 14px;
    font-weight: 300;
    line-height: 17.64px;
    margin-bottom: 2px;
}

.xi-card .value {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
}

/* Highest Value Table Styling */
.highest-value-table .table-heading {
    min-width: 155px;
}

.highest-value-table .right-part {
    gap: 53px;
}

.highest-value-table .rpc {
    text-align: start;
}

/* Most Valuable Table Styling */
.most-valuable-table .tr:first-child {
    min-height: 56.28px;
}

.most-valuable-table .rpc {
    text-align: start;
}

/* Enjoying Card Styling */
.enjoying-card {
    padding: 45px 52px 40px;
    background:url('../images/enjoying-bg-shade.png') top left no-repeat,
    url('../images/enjoying-bg-img.png') left top / cover no-repeat;
    color: white;
    border-radius: 8px;
}

.enjoying-card .enjoying-heading {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

.enjoying-card .para {
    font-size: 16px;
    line-height: 20.16px;
    margin-bottom: 25px;
}

.enjoying-card .link {
    text-decoration: none;
    color: #56B694;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    background-color: white;
    padding: 19px 34px;
    border-radius: 8px;
    display: inline-block;
    /* border: 4px solid rgba(255, 255, 255, 0.2); */

}

.enjoying-card .link:hover {
    color: #35765f;
}

/* Fixtures Table Styling */
.fixtures-table .tr {
    padding-top: 12px;
    padding-bottom: 12px;
}

.fixtures-table .pagination-div {
    background-color: rgba(250, 250, 250, 0.8);
    width: 1100px;
}

.fixtures-table .pagination-number-parent {
    padding-right: 4px;
    width: 34px;
}

.fixtures-table .pagination-number {
    width: 34px;
    height: 32px;
    border: 1px solid #EEF0F3;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}

.fixtures-table .active {
    color: #8B42F2;
    border-color: #8B42F2;
}


.live-img-div {
    background-color: rgba(86, 182, 148, 0.1)!important;
}

.live-name {
    font-weight: 700!important;
}

.fixtures-table .tr:nth-child(2) {
    border-bottom: 0;
}

.fixtures-table .lp-img {
    height: 24px;
    min-height:auto;
}

.fixtures-table .brand-name {
    font-size: 14px;
    font-weight: 500;
}

.fixtures-table .cpl {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10.67px;
    min-width: 200px;
}

.fixtures-table .brand-img {
    height: 26.67px;
    max-width: 26.67px;
}


.center-txt {
    font-size: 14px;
    font-weight: 400;
    color: #556987;
}

.fixtures-table .cpr {
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 240px;
    gap: 11px;
}

.bell-icon-div {
    height: 24px;
    width: 24px;
}

/* Standings Table Styling */
.grey-txt {
    font-size: 14px;
    font-weight: 400;
    color: #252728;
    opacity: 70%;
    min-width: 24px;
    text-align: center;
}

.standings-table .tr {
    padding: 8px 16px;
    position: relative;
}

.standings-table .tr-before-blue::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #5383EC;
}

.standings-table .tr-before-yellow::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #EA8237;
}

.standings-table .tr-before-green::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #58A65C;
}

.standings-table .left-part {
    min-width: 64px;
    gap: 8px;
}

.standings-table .standing-img-div {
    width: 24px;
    height: 24px;
}

.brand-name {
    font-weight: 500;
    font-size: 14px;
}

.standings-table .right-part {
    gap: 8px!important;
}

.standings-table .points {
    font-weight: 700;
    color: #252728;
}

.standings-table .last-5 {
    min-width: 92px;
    display: flex;
    justify-content: space-between;
}

.standings-table .last-5-txt {
    justify-content: center;
}

.standings-table .icon-circle {
    width: 16px;
    height: 16px;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.standings-table .true-circle {
    background-color: #56B694;
}

.standings-table .false-circle {
    background-color: #E52D2D;
}

.standings-table .line-circle {
    color: rgba(37, 39, 40, 0.7);
    background-color: #E5E5E5;
}

/* Standing Right Table */
.standing-right-table .tr {
    padding: 18px 20px;
}

.standing-right-table .tr:last-child {
    padding-bottom: 26px;
}

.standing-right-table .xi-card {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    justify-content: start;
    gap: 6px;
}

.position-row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    min-width: 261px;
}

.standing-right-table .position {
    min-width: 120px;
}

.standing-right-table .age {
    color:#4D5F7A;
    font-size: 12px;
}

.standing-right-table .icon-parent {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5.5px;
}

.standing-right-table .sm-icon-parent {
    width: 20px;
}

.standing-right-table .icon-txt {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.standing-right-table .right-part {
    min-width: 120px;
    gap: 32px;
}

/* Top Players */
.tp-sm-card .lg-left-part {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tp-sm-card .lg-icon-div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tp-sm-card .table-heading {
    line-height: 22.68px;
}

.tp-sm-card .lg-img-div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #F7F8F9;
    border-radius: 50%;
}

.tp-sm-card .lg-img {
    border-radius: 50%;
}

.tp-sm-card .xi-card {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    justify-content: start;
    gap: 6px;
}

.tp-sm-card .left-part {
    min-width: unset;
}

.tp-sm-card .info-div {
    min-width: unset;
}

.tp-sm-card .position-row {
    min-width: unset;
}

.tp-sm-card .highest-scores {
    font-weight: 700;
    font-size: 24px;
}

.tp-sm-card-parent:nth-of-type(1) .highest-scores{
    color: #56B694;
}

.tp-sm-card-parent:nth-of-type(2) .highest-scores{
    color: #8B42F2;
}

.tp-sm-card-parent:nth-of-type(3) .highest-scores{
    color: #E94183;
}

.tp-sm-card .scores {
    font-size: 16px;
    font-weight: 700;
    min-width: 30px;
}

.tp-sm-card .see-all-row {
    justify-content: center;
}

.tp-sm-card .see-all {
    font-size: 14px;
    color: #8B42F2;
}

.tp-sm-card .see-all:hover {
    color: #57318c;
}


/* Last League Table */
.last-league-table > tbody > .tr {
    padding: 16px 16px 0;
    border: 0;
    min-width: 558px;
}

.last-league-table > tbody > .tr:last-child {
    padding-bottom: 16px;
}

.last-league-table {
    background: url('../images/last-league-bg-circle-1.png') top right no-repeat,
                url('../images/last-league-bg-circle-2.png') top right no-repeat,
                linear-gradient(to bottom, #8B42F2 0%, #974DDE 100%);
}

.last-league-table .top-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    width: 255px;
    padding: 12px;
    height: fit-content;
}

.last-league-table .top-card .tr {
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 13px;
    border-bottom: 0;
}

.last-league-table .top-card .tr:last-child {
    padding-bottom: 0;
}

.last-league-table .top-card .name {
    font-size: 14px;
}

.last-league-table .top-card .brand-td .top-card-img {
    width: 26.6px;
}

.last-league-table .top-card .link-td:hover .score-link::before {
    background-color: white;
}

.last-league-table .top-card .time {
    padding-right: 0;
}

.last-league-table .video {
    border-radius: 6.3px;
}

/* Last League Table Person */
.last-league-table .xi-img-div {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.last-league-table .xi-img-div img {
    border-radius: 50%;
    width: 100%;
}

.last-league-table .person-name {
    font-weight: 700;
    font-size: 18px;
}

.last-league-table .flags {
    min-width: unset;
}

.last-league-table .points {
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 18px;
    color: #8B42F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Last League Table Cards */
.last-league-table .plays-heading {
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.ll-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ll-card {
    min-width: 125.5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 12px;
}

.ll-card .number {
    font-size: 24px;
    font-weight: 700;
    display: block;
    color: white;
}

.ll-card .name {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}


/* Footer */
.footer {
    color: #4D5F7A;
    padding: 40px 0;
    background-color: white;
}

.footer p {
    font-size: 16px;
}

.footer ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.footer li {
    display: inline-block;
}

.footer .social-ul {
    justify-content: start;
    align-items: center;
    font-size: 24px;
    gap: 24px;
}

.footer .social-a {
    color: #556987;
}

.footer .social-a:hover {
    color: #4c5c74;
}


.footer .f-links-ul {
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.footer .f-link {
    text-decoration: none;
    color: #556987;
}

/* Media Queries with Max-Width */
@media screen and (max-width: 1199.9px) {
    /* Header */
    .header .logo-img {
        width: 180px;
    }

    .header .nav-link {
        padding-bottom: 26px!important;
    }

    /* Latest Table Styling */
    .latest-table .left-part {
        gap: 8px;
    }

    .latest-table .lp-img-div {
        width: 48px;
        height: 48px;
    }

    .latest-table .name {
        font-size: 14px;
    }

    .latest-table .position {
        font-size: 12px;
    }

    .latest-table .center-part {
        gap: 8px;
    }
    
    .latest-table .right-part {
        gap: 24px;
    }

    .valuable-players-table .rpc-val {
        font-size: 12px;
    }

    /* Players Cards Styling */
    .player-card-1 .left-img-div {
        padding-top: 11px;
    }

    .player-card .player-card-name {
        font-size: 25px;
        line-height: 29px;
    }

    .player-card .player-info{
        margin-bottom: 8px;
        font-size: 13px;
    }

    .player-card .bold-text {
        font-size: 20px;
    }

    .player-card .p-bottom-card {
        padding: 9px;
        min-width: 110px;
    }

    .player-card-2 .left-img-div {
        padding-top: 10px;
    }

    /* XI Table Styling */
    .xi-table .tr:nth-child(6) {
        padding-left: 64px;
        padding-right: 74px;
    }

    /* Footer Styling */
    .footer .f-links-ul {
        font-size: 13px;
    }
}

@media screen and (max-width: 991.9px){
    /* Global Styling */

    .b-lg-mb-20 {
        margin-bottom: 20px;
    }

    /* Global Section Head Styling */
    .section-head .main-heading {
        font-size: 30px;
        padding-left: 18px;
    }
    .section-head .main-heading::before {
        width: 12px;
        height: 15px;
    }

    .section-head .top-link {
        font-size: 15px;
    }

    /* Header */
    .header-content {
        padding: 20px 24px;
        position: relative;
    }

    .header .logo-img {
        width: 164px;
    }

    .header .nav-link {
        padding-bottom: 20px!important;
        width: 100%;
    }

    .header button {
        padding-bottom: 10px;
    }

    
    /* Bootstrap Navbar Settings */
    .navbar {
        position: static;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-collapse {
        background-color: white;
        position: absolute;
        top: 101%;
        left: 0;
        width: 100%;
        border-radius: 8px;
        z-index: 1;
    }

    button.navbar-toggler {
        padding-bottom: 0;
    }

    /* XI Table Styling */
    .xi-table .tr:nth-child(6) {
        padding-left: 96.5px;
        padding-right: 121px;
    }
}

@media screen and (max-width: 768px) {
    /* Global Styling */
    /* Global Section Head Styling */
    .section-head .main-heading {
        font-size: 28px;
        padding-left: 16px;
    }
    .section-head .main-heading::before {
        width: 10px;
        height: 12px;
    }

    .section-head .top-link {
        font-size: 14px;
    }

    /* Header */
    .header-content {
        padding: 16px;
    }

    .header .logo-img {
        width: 150px;
    }

    .header .nav-link {
        padding-bottom: 14px!important;
    }
    .header .nav-link:hover, .header .active {
        border-bottom: 2px solid;
    }

    /* Players Cards Styling */
    .player-card-2 .left-img-div {
        padding-top: 10px;
    }

    .player-card-2 .player-card-name {
        margin-bottom: 12px;
    }

    /* XI Table Styling */
    .xi-table .tr:nth-child(6) {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 576px) {
    /* Top Cards */
    .top-cards::before {
        display: none;
    }

    .top-cards::after {
        display: none;
    }

    /* Latest Table Styling */
    .table-heading {
        font-size: 17px;
    }

    .latest-table .tr {
        padding: 14px 16px;
    }

    .latest-table .left-part {
        gap: 8px;
    }

    .latest-table .lp-img-div {
        width: 46px;
        height: 46px;
    }

    .latest-table .name {
        font-size: 15px;
    }

    .latest-table .position {
        font-size: 13px;
    }

    .latest-table .right-part {
        gap: 18px;
    }

    .latest-table .rpl-img-div {
        width: 46px;
        height: 46px;
    }

    .latest-table .rpl-img {
        height: 36px;
    }

    .latest-table .rpc-val {
        font-size: 15px;
    }

    .latest-table .rpr-img-div {
        width: 46px;
        height: 46px;
    }

    .latest-table .rpr-img {
        height: 36px;
    }

    /* Players Cards Styling */
    .player-card .right-logo {
        width: 22px;
    }

    .player-card .player-card-name {
        font-size: 24px;
        line-height: 28px;
    }

    .player-card .p-bottom-card {
        min-width: 106px;
        padding: 8px;
    }

    .player-card .bold-text {
        font-size: 18px;
    }

    .player-card-2 .para {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
    }

    .player-card .bold-text {
        font-size: 16px;
    }

    /* Enjoying Card Styling */
    .enjoying-card .para {
        font-size: 15px;
    }

    .enjoying-card .link {
        padding: 14px 26px;
        font-size: 18px;
    }

    /* Footer Styling */
    .footer p {
        font-size: 15px;
    }

    .footer .social-ul {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    /* Latest Table Styling */

    .latest-table .info-div {
        min-width: 140px;
    }

    .latest-table .name {
        font-size: 14px;
    }

    .latest-table .lp-img-div {
        width: 40px;
        height: 40px;
    }

    .latest-table .position {
        font-size: 12px;
    }

    .latest-table .center-part {
        min-width: 130px;
    }

    .latest-table .right-part {
        gap: 6px;
    }

    .latest-table .rpl-img-div {
        width: 40px;
        height: 40px;
    }

    .latest-table .rpl-name {
        font-size: 11px;
    }

    .latest-table .rpc-val {
        font-size: 13px;
    }

    .latest-table .rpr-img-div {
        width: 40px;
        height: 40px;
    }

    .latest-table .rpr-name {
        font-size: 11px;
    }

    /* Players Cards Styling */
    .player-card {
        padding: 16px 10px 0;
    }

    .player-card-1 .left-img-div {
        padding-top: 22px;
    }

    .player-card .player-card-name {
        font-size: 18px;
        line-height: 22px;
    }

    .player-card .right-logo {
        width: 18px;
    }

    .player-card .player-info {
        gap: 6px;
        font-size: 12px;
    }

    .player-card .p-bottom-cards {
        gap: 12px;
    }

    .player-card .p-bottom-card {
        padding: 5px;
        min-width: 80px;
    }

    .player-card .bold-text {
        font-size: 14px;
    }

    .player-card .light-text {
        font-size: 11px;
    }

    .player-card-2 .para {
        font-size: 12px;
        line-height: 16px;
    }

    .player-card .single-card {
        gap: 14px;
        padding: 4px 16px;
    }

    /* XI Cards Styling */
    .xi-table .tr:nth-child(3) {
        padding-left: 24px;
        padding-right: 24px;
    }

    .xi-table .tr:nth-child(5) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .xi-table .tr:nth-child(6) {
        padding-left: 26px;
        padding-right: 26px;
    }

    /* Enjoying Cards Styling */
    .enjoying-card {
        padding: 27px 26px 29px;
    }

    .enjoying-card .enjoying-heading {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .enjoying-card .para {
        margin-bottom: 20px;
    }

    .enjoying-card .link {
        font-size: 15px;
        padding: 12px 25px;
    }
}

@media screen and (max-width: 380px) {
    /* Global Styling */
    /* Global Section Head Styling */
    .section-head .main-heading {
        font-size: 26px;
        padding-left: 14px;
    }
    .section-head .main-heading::before {
        top: 7px;
        width: 9px;
        height: 11px;
    }

    .section-head .top-link {
        font-size: 14px;
    }

    /* Header */
    .header .nav-link {
        padding-bottom: 10px!important;
    }

    .header button {
        padding-bottom: 6px;
    }

    /* Latest Table Styling */
    .table-heading {
        font-size: 16px;
    }

    .latest-table .tr {
        padding: 10px;
    }

    .latest-table .name {
        font-size: 12px;
    }

    .latest-table .position {
        font-size: 9.5px;
    }
    
    .latest-table .right-part {
        padding: 6px 6px;
        gap: 1px;
    }

    .latest-table .rpl-img-div {
        width: 28px;
        height: 28px;
    }

    .latest-table .rpl-img {
        height: 24px;
    }

    .latest-table .rpc-val {
        font-size: 12px;
    }

    .latest-table .rpr-img-div {
        width: 28px;
        height: 28px;
    }

    .latest-table .rpr-img {
        height: 24px;
    }

    /* Players Cards Styling */
    .player-card .player-card-name {
        font-size: 17px;
        line-height: 21px;
    }

    .player-card .col-5 {
        padding: 0;
    }

    .player-card .col-6 {
        padding: 0;
    }

    .player-card .player-info {
        gap: 4px;
        font-size: 7.5px;
    }

    .player-card .light-text {
        font-size: 10px;
    }

    .player-card .p-bottom-cards {
        gap: 4px;
    }

    .player-card .p-bottom-card {
        padding: 4px;
        min-width: 60px;
    }

    .player-card .light-text {
        font-size: 8px;
    }

    .player-card-2 .player-card-name {
        margin-bottom: 6px;
    }

    .player-card-2 .para {
        margin-bottom: 8px;
    }

    .player-card .single-card {
        gap: 8px;
        padding: 3px 8px;
    }

    .player-card-2 .right-card-img-div {
        width: 22px;
    }

    .player-card .bold-text {
        font-size: 13px;
    }

    /* XI Table Styling */
    .xi-card .name {
        font-size: 10px;
    }

    .xi-card .value {
        font-size: 9px;
    }

    .xi-table .tr:nth-child(3) {
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 34px;
    }

    .xi-table .tr:nth-child(5) {
        padding-left: 2px;
        padding-right: 2px;
    }

    .xi-table .tr:nth-child(6) {
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 36px;
    }

    /* Enjoying Card Styling */
    .enjoying-card .enjoying-heading {
        font-size: 20px;
    }

    .enjoying-card .link {
        font-size: 14px;
        padding: 10px 22px;
    }

    /* Footer Syling */
    .footer p {
        font-size: 14px;
    }
}

/* Media Queries with Min-Width */
@media screen and (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 991.9px) {
    .container {
        padding: 0;
    }
}